.link-container {
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.link-container:hover {
    background-color: #e2beff;
    transform: scale(1.2);
    

}

.link {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: inherit; 
}

@media (max-width: 768px) {
    .link-container {
        align-items: flex-start;
        margin-right: 0;
    }

    .link {
        align-items: center;
        gap: 8px;
    }
}